
.navbar{
    background-color: #E3E6F3;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    z-index: 999;
    box-shadow: 5px 10px 22px 0px rgb(136, 136, 136, 0.5);
}
.nav-item a{
    font-weight: 600;
    border-bottom: 2px solid rgb(8, 129, 120,0);
    padding-left: 0!important;
  }
.nav-item a:active, .nav-item a:hover{
    color: #088178!important;
    border-bottom: 3px solid #088178;
}
.navbar-nav{
    gap: 1.5rem;
}
.active{
    color: #088178!important;
    border-bottom: 3px solid #088178!important;
}
.navbar-collapse {
   flex-grow:0;
   }
.cartspan{
    display: none;
}

/*css for hero section*/
.hero{
    background: url(./img/hero4.png);
    height: 99vh;
    width: 100%;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 5rem;
   
}  
.hero .h1c{
    color: #088178;
 } 
.hero h1{
    line-height: 2.9rem;
    font-size: 3rem;
 } 
.hero a{
   text-decoration: none;
   background: url(./img/button.png);
   padding: 0.5rem 3rem;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #088178;
   font-weight: 700;
   margin-top: 0.5rem;
   font-size: 1.2rem;
}
.hero p{
    color: grey;
    margin-top: 0.5rem;
    font-size: 1.2rem;
}
.hero h6{
    font-size:1.1rem;
    font-weight: 600;

}

/*css for features*/
.features .card{
    box-shadow: 6px 10px 57px 1px rgb(136 136 136 / 50%);
}
.features .card-title {
color: #088178;
font-size: 0.8rem;
text-align: center;
padding: 0.1rem 0.2rem!important;
border-radius: 5px;
margin-top: 0.9rem;
}
.c1{
    background-color: #fddde4;
}
.c2{
    background-color: #cdebbc;
}
.c3{
    background-color: #d1e8f2;
}
.c4{
    background-color: #cdd4f8;
}
.c5{
    background-color: #f6dbf6;
}
.c6{
    background-color: #fff2e5;
}


/*css for featuresproducts*/
.featuresproduct{
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.featuresproduct .card{
    box-shadow: 1px 1px 10px 1px rgb(136 136 136 / 50%);   
}
.featuresproduct .card:hover{
    box-shadow: 1px 1px 20px 1px rgb(136 136 136 / 50%); 
    cursor: pointer;  
    transition: 0.3s ease;
}
.featuresproduct p{
 font-size: 1.2rem;
 color:grey;
}
.featuresproduct .card-text{
    font-size:0.9rem;
    color:grey;
}
.featuresproduct .card-title{

    font-size:0.8rem!important;
    color: black!important;
    font-weight: 600;
}
.price,.fa-cart-shopping{
    color: #088178;
}
.fa-cart-shopping{
    background-color: rgb(8, 129, 120,0.2);
}
.fa-star{
    color: rgb(243, 181, 25);
}


/*css for ctabanner*/
.ctabanner{
    height: 40vh;
    background: url(./img/banner/b2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.ctabanner h5{
    font-size: 1.0rem;
}
.ctabtn{
    text-decoration: none;
    color:black;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 500;
}
.ctabtn:hover{
    background-color: #088178;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;}

/*css for ctaBanner*/
.ctaBanner .card1{
height: 50vh;
background-image: url(./img/banner/b17.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.ctaBanner .card2{
    height: 50vh;
    background-image: url(./img/banner/b10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
.ctaBannerbtn:hover{
    background-color: #088178;
    color: white;
    transition: 0.3s ease;

    }
.ctaBanner .card3
{
        height: 30vh;
        background-image: url(./img/banner/b7.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.ctaBanner .card4
{
        height: 30vh;
        background-image: url(./img/banner/b4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
.ctaBanner .card5
{
        height: 30vh;
        background-image: url(./img/banner/b18.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

/*css for signUpNewsLetter*/
.signUpNewsLetter{
height: 25vh;
background-image: url(./img/banner/b14.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #041e42;
}
.signUpNewsLetter .btn{
    background-color: #088178;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.signUpNewsLetter .btn:hover{
    background-color: #088178;
}
.signUpNewsLetter span{
color: #ffbd27;
}
.signUpNewsLetter input{
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}


/*css for footer*/
.apps a{
    border-color: #088178!important;
}



/***************************************shop.html***********************/

.shopHero{
    margin-top: 4rem;
    background-image: url(./img/banner/b1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagination a {
    background-color: #088178;
    color: white;
    text-decoration: none;
    margin-left: 0.25rem;
   padding-top: 0.5rem;
   padding-right: 0.5rem;
   padding-left: 0.5rem;
    border-radius: 5px;
    
    
}
.pagination a h6, .pagination a h6 i{
    font-size: 1.2rem;
}

/***************************************sproduct.html***********************/
.smallimgdiv{
padding-left: 0.25rem;
padding-right: 0.25rem;
}
.sproductbtn{
    background-color: #088178;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #088178;
}
.sproductbtn:hover{
    background-color: white;
    color: #088178;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    border: 1px solid #088178;
    cursor: pointer;
    transition: 0.3s ease;
}
.singleproductdetails input:focus{
    outline: none;
}

/***************************************blog.html***********************/
.blogHero{
    background-image: url(./img/banner/b19.jpg);
    background-position: right;
}
.bloggreyp{
    color: grey;
}
.smallp{
    font-size: 0.7rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
.smallp:hover{
    
    color: #088178;
    transition: 0.3s ease;
}
.blogimg{
    background: url(./img/blog/b1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.blogimg h1{
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -9;
    font-size: 3.5rem;
    color:grey;
    opacity: 0.8;
}
.blogimg2{
    background: url(./img/blog/b2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.blogimg2 h1{
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -9;
    font-size: 3.5rem;
    color:grey;
    opacity: 0.8;
}
.blogimg3{
    background: url(./img/blog/b3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.blogimg3 h1{
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -9;
    font-size: 3.5rem;
    color:grey;
    opacity: 0.8;
}
.blogimg4{
    background: url(./img/blog/b4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.blogimg4 h1{
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -9;
    font-size: 3.5rem;
    color:grey;
    opacity: 0.8;
}
.blogimg5{
    background: url(./img/blog/b6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
}
.blogimg5 h1{
    position: absolute;
    top: -3rem;
    left: 0;
    z-index: -9;
    font-size: 3.5rem;
    color:grey;
    opacity: 0.8;
}




/*now applying mediaqueries*/
/*X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .cartnav-item{
        display:none;
    }
    .cartspan{
        display: block;
        position: absolute;
        right: 17vw;
        top: 1vh;
        
    }
    .nav-item{
        text-align: center;
        font-size: 1.2rem;
    }
    .active {
        
         border-bottom: none!important; 
    }
    .hero{
       
        height: 60vh;
        width: 100%;
        padding-left: 1rem;
        padding-right: 0;
        
        margin-top: 3rem;
        
        
       
    }
    .hero h1 {
        line-height: 1.8rem;
        font-size: 2.2rem;
    }
    
    .features .col-6{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .featuresproduct .col-sm-3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: larger;
    }
    .ctaBanner .col-sm-6, .ctaBanner .col-sm-4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .ctaBannerbtn{
        width: 50%!important;
        text-align: center;
    }
    .signUpNewsLetter{
        padding-top: 2rem;
        height: fit-content;
        padding-bottom: 2rem;
    }
    .signUpNewsLetter .container .row{
        flex-direction: column;
        
        text-align: center;
    }
    .footer .col-md-4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .mqend{
        margin-top: 2rem;
    }
    .mqsmall{
        margin-top: 5rem;
    }
    .mqmargin{
        margin-top: 2rem;
    }

 }
 /*Small devices (landscape phones, less than 768px)*/
 @media (min-width: 576px) and (max-width: 767.98px) { 
    .cartnav-item{
        display:none;
    }
    .cartspan{
        display: block;
        position: absolute;
        right: 17vw;
        top: 1vh;
        
    }
    .nav-item{
        text-align: center;
        font-size: 1.2rem;
    }
    .active {
        
         border-bottom: none!important; 
    }
    .hero{
       
        height: 60vh;
        width: 100%;
        padding-left: 1rem;
        padding-right: 0;
        
        margin-top: 3rem;
        
        
       
    }
    .hero h1 {
        line-height: 1.8rem;
        font-size: 2.2rem;
    }
    
    .features .col-6{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .featuresproduct .col-sm-3{
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: larger;
    }
    .ctaBanner .col-sm-6, .ctaBanner .col-sm-4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .ctaBannerbtn{
        width: 50%!important;
        text-align: center;
    }
    .signUpNewsLetter{
        padding-top: 2rem;
        height: fit-content;
        padding-bottom: 2rem;
    }
    .signUpNewsLetter .container .row{
        flex-direction: column;
        
        text-align: center;
    }
    .footer .col-md-4{
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .mqend{
        margin-top: 2rem;
    }
    
}
/* Medium devices (tablets, less than 992px)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .features{
        margin-top: 5rem;
    }
    
}
